<!DOCTYPE html>
<html>
  <head>
    <title>Forecast</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="/public/css/style.css" />

  </head>
  <body>

    {{{ body }}}

    <script type="text/javascript" src="/public/js/bundled.js"></script>

    <script type="text/javascript" src="/public/js/index.js"></script>

  </body>
</html>
