body {
  background: #e3e3e3;
}

#background {
  background: url('/public/img/golden_gate.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#main-con {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background: linear-gradient(90deg, rgba(0,0,0,0.0), rgba(0,0,0,0.3), rgba(0,0,0,0.5), rgba(0,0,0,0.3), rgba(0,0,0,0.0));
}

#main {
  width: 100%;
  max-width: 500px;
  padding: 125px 12px;
  margin: 0 auto;
  color: white;
}




#main #address-input {
  border-radius: 0;
  border: none;
  width: 100%;
  padding: 8px 15px;
}
#main #address-input:focus {
  outline: none;
  box-shadow: none;
}




#main #address-find {
  width: 100%;
  border: none;
  padding: 10px;
  line-height: 20px;
  transition: all ease 0.3s;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}
#main #address-find:focus {
  outline: none;
}


#response {
  width: 100%;
  max-width: 500px;
  padding: 0;
  margin: 0 auto;
}

#response h2 {
  text-align: center;
}

#response p span {
  float: right;
  font-weight: bold;
}




*::selection {
  background-color: #007bff;
  color: white;
}
